<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <head>
        <title>{{.Title}}</title>
        <meta name="description" content="{{.Summary}}"/> 
    </head>

    <link rel="icon" href="../../../img/banner/1.png" type="image/png">

    <!-- link css -->
    <link rel="stylesheet" href="../../../css/bootstrap.css">
    <link rel="stylesheet" href="../../../css/styles.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">

</head>