{{define "main"}}

<div class="wrapper">
    <section class="home_banner_area">
        <div class="banner_inner">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="banner_content">
                            <h2>Diki <b>Hamdani</b></h2>
                            <p>
                                Mahasiswa STMIK Tasikmalaya Jurusan S-1 Teknik Informatika. Web ini dibuat untuk
                                memenuhi salah satu tugas Matakuliah Teknik Riset Operasional (TRO) yang diampu oleh
                                Bpk. Dani Rohpandi M, kom.
                            </p>
                            <a class="banner_btn" href="/blog">Tugas Siap Diperiksa</a>
                        </div>
                    </div>
    
                    <div class="col-lg-6">
                        <div class="home_left_img">
                            <img src="img/banner/1.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><br><br><br><br>
    
    <section class="welcome_area p_120 mt-4" id="profil">
        <div class="container">
            <h4 class="text-dark text-center">PROFIL</h4>
            <div class="col-lg-1 line"></div>
            <img src="img/banner/1.png" alt="">
            <div class="row welcome_inner">
                <div class="col-lg-6">
                    <div class="welcome_text">
                        <h6 class="text-dark mt-3 pt-3">Informasi</h6>
                        <table class="table table-borderless mt-4">
                            <tr>
                                <th>Nama</th>
                                <td>Diki Hamdani</td>
                            </tr>
    
                            <tr>
                                <th>NPM</th>
                                <td>432007006190079</td>
                            </tr>
    
                            <tr>
                                <th>Kelas</th>
                                <td>C-Reguler Pagi</td>
                            </tr>
    
                            <tr>
                                <th>Jurusan</th>
                                <td>S1-Teknik Informatika</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="tools_expert">
                        <h6 class=" text-dark mt-3 pt-3">Kontak</h6>
                        <table class="table table-borderless mt-4">
                            <tr>
                                <th>Alamat</th>
                                <td>Kp. Mekarsari RT.18 RW. 04 Desa Cipanas, Kec. Cipatujah, Kab. Tasikmalaya</td>
                            </tr>
    
                            <tr>
                                <th>Telp</th>
                                <td>+62 822-1461-0649</td>
                            </tr>
    
                            <tr>
                                <th>E-mail</th>
                                <td>dikihamdani.id@gmail.com</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

{{end}}
